.anketa {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: rgba(240, 240, 240, 1);

	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 500;
	}

	&__form {
		margin: 0 auto;
		width: 660px;

		@include mobile {
			margin: 10px;
			width: auto;
		}
	}

	&__basic {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 1px;
		padding: 0 19px 32px 20px;
		background-color: #fff;

		@include tablet {
			overflow: hidden;
		}

		@include mobile {
			flex-flow: column nowrap;
			overflow: hidden;
		}
	}

	&__person-img {
		position: relative;
		flex: 0 0 auto;
		overflow: hidden;
		margin-top: 30px;
		margin-right: 21px;
		border-radius: 50%;
		width: 140px;
		height: 140px;

		picture {
			content: "";
			position: absolute;
			left: 0;
			top: -20px;
			display: block;
			width: 140px;
			height: 140px;
		}
	}

	&__approved-img {
		content: "";
		position: absolute;
		right: -300px;
		top: 0;
		z-index: 5;
		opacity: 0;
		transform: scale(2);
		transition: all 0.4s ease 0.2s;

		&.active {
			right: -16px;
			top: 73px;
			opacity: 1;
			transform: scale(1);

			@include mobile {
				top: -100px;
			}
		}
	}

	&__skills {
		margin-bottom: 1px;
		padding: 34px 20px 0 22px;
		background-color: #fff;

		@include mobile {
			padding: 34px 10px 0;
		}
	}

	&__checkboxes-inner {
		display: flex;
		flex-flow: column wrap;
		margin: 0;
		width: auto;
		height: 176px;

		@include mobile {
			margin: 0 auto;
			width: 300px;
			height: 400px;
		}
	}

	&__skill-label {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 37px;
		padding-top: 3px;
		width: 160px;
		font-weight: 500;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__js {
		display: flex;
		flex-flow: row nowrap;
		padding: 59px 18px 0 23px;
		background-color: #fff;

		h2 {
			margin-top: 7px;
			margin-bottom: 27px;
			line-height: 130%;
		}

		@include mobile {
			flex-flow: column nowrap;
			align-items: center;
			padding: 30px 18px 0 23px;
			text-align: center;
		}
	}

	&__js-img {
		position: relative;
		flex: 0 0 auto;
		width: 320px;

		input,
		label {
			margin-top: 40px;
		}

		@include mobile {
			margin-bottom: 25px;
			width: auto;
		}
	}

	&__js-scale {
		z-index: 0;
		width: 250px;
	}

	&__js-arrow-box {
		content: "";
		position: absolute;
		left: 65px;
		top: 85px;
		z-index: 1;
		width: 131px;
		height: 131px;
		transform: rotate(40deg);
	}

	&__js-arrow {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		transform: rotate(-75deg);
	}

	&__js-counter {
		height: 100px;
		font-weight: 700;
		font-size: 50px;
		line-height: 0.44;
		color: #0093d7;
	}
}

.anketa__skill-label:nth-child(3n) {
	margin-bottom: 33px;
}